In [1]:
import pandas as pd

In [29]:
df=pd.read_csv('C:\\Users\\USER\\Desktop\\WAPS\\winemag-data_first150k.csv')

In [13]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [30]:
df.isnull().sum()

Unnamed: 0         0
country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64

data is not clean

In [31]:
df.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

In [32]:
df.shape

(150930, 11)

In [33]:
rows,columns=df.shape

In [34]:
columns

11

In [36]:
df.tail()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [43]:
df[3:5]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [45]:
df[:]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [46]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [47]:
df.price

0         235.0
1         110.0
2          90.0
3          65.0
4          66.0
          ...
150925     20.0
150926     27.0
150927     20.0
150928     52.0
150929     15.0
Name: price, Length: 150930, dtype: float64

In [48]:
type[df.price]

type[0         235.0
1         110.0
2          90.0
3          65.0
4          66.0
          ...
150925     20.0
150926     27.0
150927     20.0
150928     52.0
150929     15.0
Name: price, Length: 150930, dtype: float64]

In [49]:
type(df["price"])

pandas.core.series.Series

In [53]:
 df["price"].max()

2300.0

In [54]:
df["price"].std()

36.32253619648552

In [55]:
df["price"].mean()

33.13148249353299

In [56]:
df.describe()

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
25%     37732.250000      86.000000      16.000000
50%     75464.500000      88.000000      24.000000
75%    113196.750000      90.000000      40.000000
max    150929.000000     100.000000    2300.000000

In [62]:
df[df.price<=8]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
119,119,Portugal,"This broad, fruity wine brings out ripe berry ...",Convento da Vila,86,7.0,Alentejano,NaN,NaN,Portuguese Red,Adega Cooperativa de Borba
776,776,Portugal,"This is a herbal, earthy wine with as many tan...",D. Fuas Reserva,89,7.0,Terras do Dão,NaN,NaN,Portuguese Red,Caves Velhas
932,932,Portugal,"This is a herbal, earthy wine with as many tan...",D. Fuas Reserva,89,7.0,Terras do Dão,NaN,NaN,Portuguese Red,Caves Velhas
995,995,Portugal,"This is a dry sparkling wine with tannins, spi...",Plexus Tinto,85,7.0,Tejo,NaN,NaN,Alicante Bouschet,Adega Cooperativa do Cartaxo
1004,1004,Portugal,This wine balances swathes of ripe berry fruit...,Cal Monte da Cal,85,7.0,Alentejano,NaN,NaN,Portuguese Red,Global Wines
...,...,...,...,...,...,...,...,...,...,...,...
150883,150883,US,"A coppery colored, off-dry-to-frankly-sweet wi...",Reserve White,83,7.0,California,California,California Other,Zinfandel,Glen Ellen
150888,150888,Chile,It's nice to see an ever-increasing number of ...,NaN,82,8.0,Maule Valley,NaN,NaN,Cabernet Sauvignon,Alfasi
150891,150891,Chile,Strawberry and pink grapefruit aromas mingle e...,NaN,82,8.0,Curicó Valley,NaN,NaN,Rosé,Miguel Torres
150898,150898,Chile,"A light and tart wine, with a bouquet of berry...",NaN,82,7.0,Maipo Valley,NaN,NaN,Pinot Noir,Undurraga
150903,150903,Chile,Very light berry and mint aromas open this aus...,120,81,7.0,Rapel Valley,NaN,NaN,Cabernet Sauvignon,Santa Rita

In [63]:
df.index

RangeIndex(start=0, stop=150930, step=1)